<form action="https://zwzt-zadanie.netlify.app/api/login" id="form">
  <label for="username">User name:</label>
  <div class="input">
    <div class="icon">
      <i class="material-icons">perm_identity</i>
    </div>
    <input type="text" id="username" name="username" value="zwzt" />
  </div>
  <label for="password">Password:</label>
  <div class="input">
    <div class="icon">
      <i class="material-icons">lock_outline</i>
    </div>
    <input type="password" id="password" name="password" value="secret
    " />
  </div>

  <input type="submit" value="Submit" />
  <div class="error"><div id="id" style="display: none">error</div></div>
</form>
